.login .image{
  margin-bottom: 8%;
  margin-left: 22%;
  width: 70%;
  height: 50%;
}

.login .email {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-top: -3em;
}
.login .email input {
  outline: none;
  border: none;
}
.login .email input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.login .email input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.login .email input::placeholder {
  color: black;
  font-size: 0.9em;
}
.login .email ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}

.login .password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}
.login .password input {
  outline: none;
  border: none;
}
.login .password input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.login .password input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.login .password input::placeholder {
  color: black;
  font-size: 0.9em;
}
.login .password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.login .password .show-hide {
  margin-right: -5em;
}

.login {
  background: #f1f7fe;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
  width: 70%;
  height: 50%;
  margin-left: 12%;
}
.login .logo {
  margin-top: -3em;
}

.login .btn-login {
  padding: 1em;
  background: #3e4684;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  
}

/* * {
    font-family: "Poppins";
  }
  
  body {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dde5f4;
    height: 100vh;
  }
  
  .login {
    background: #f1f7fe;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
  }
  .login .logo {
    margin-top: -3em;
  }
  .login .email {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: -3em;
  }
  .login .email input {
    outline: none;
    border: none;
  }
  .login .email input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .login .email input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .login .email input::placeholder {
    color: black;
    font-size: 0.9em;
  }
  .login .email ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
  }
  .login .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
  }
  .login .password input {
    outline: none;
    border: none;
  }
  .login .password input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .login .password input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .login .password input::placeholder {
    color: black;
    font-size: 0.9em;
  }
  .login .password ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
  }
  .login .password .show-hide {
    margin-right: -5em;
  }
  .login .btn-login {
    padding: 1em;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
  }
  .login .footer {
    display: flex;
    font-size: 0.7em;
    color: #5e5e5e;
    gap: 14em;
    padding-bottom: 10em;
  }
  .login .footer span {
    cursor: pointer;
  } */
