.Bienvenue{
    margin-top: 2%;
    text-align: center;
}

.Bienvenue .bouton{
    margin-top: 2%;
    text-align: center;
}

.Bienvenue .p1{
    color:green;
}

.Coaching{
    margin-top: 5%;
    text-align: center;
} 